
.container-manage-schedule {
    background: #f4f6f9;

    .manage-title-schedule {
        padding: 20px 8px;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    .schedule-content {
        margin-left: 5px;
        background: #fff;
        border-radius: 5px;
        box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
        
        .title-manage-schedule-sub {
            padding: 15px;
            font-size: 1.2rem;
            font-weight: 500;
            border-bottom: 1px solid #eee;
        }
        .title-schedule {
            font-size: 20px;
            text-transform: uppercase;
           // font-size: 20px;
            font-weight: 600;
            text-align: center;
            padding: 35px 0;

        }

        .pick-hour-container {
            display: flex;
            gap: 20px;
            flex-wrap: wrap;
            padding-bottom: 15px;
            
            button {
                padding: 5px 15px;
                border: 1px solid #ccc;
            }
            .not-schedule {
                font-style: italic;
  font-size: 1rem;
            }
        }
     
         .btn-schedule {
    
            &.active {
                background: #ccc;
            }
         }
    
        .btn-save-schedule {
            margin-top: 15px;
        }


        .list-rooms-content {
            
            .table-room {
                margin-top: 15px;
                margin-bottom: 15px;

                tr {
                    height: 49px;
                    padding-top: 10px;
                    padding: 10px;
                    padding-bottom: 10px;
                    /* display: flex; */
                    text-align: center;

                    th,
                    td {
                        padding: 12px;
                        line-height: 2;
                    }
                }

                .image-room {
                    height: 100px;
                    width: 100px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .text-description {
                    width: 100%;
                    line-height: 1.2em;
                    height: 3.6em;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }

                .btn-detail {
                    padding: 10px 15px;
                    background-color: #0d6efd;
                    color: #fff;
                    margin-right: 5px;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                .btn-update {
                    padding: 10px 15px;
                    background-color: rgb(253, 182, 50);
                    color: #fff;

                    &:hover {
                        opacity: 0.8;
                    }
                }

            }
        }

    }
    
}