.doctor-detail-container {
    padding-left: 0 !important;
    padding-right: 0 !important;
   border: 1px solid #ddd;
    .intro-doctor {
        display: flex;

        .content-right {
            width: 50%;
            padding-left: 10px;



            .name-doctor {
                font-size: 2rem;
                font-weight: 600;
                padding: 8px 0;
            }
        }

        .content-left {
            border: 1px solid #ddd;
            width: 20%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
        }
    }

    .schedule-doctor {
         display: flex;
         min-height: 250px;
         padding: 10px 0;
         .schedule-doctor-right {
            width: 50%;
         }
         .schedule-doctor-left {
            width: 50%;
         }
    }
    .detail-info-doctor {
        background-color: #f9f9f9;
        border-top: 1px solid #dddd ;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    
    .comment-doctor {
        height: 100px;
        border: 1px solid salmon;
    }
}