.manage-clinic-container {
    background: #f4f6f9;

    .manage-clinic-title {
        padding: 20px 8px;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 500;
    }

    .manage-clinic-content {
        margin-left: 15px;
        background: #fff;

        border-radius: 5px;

        .manage-clinic-title-sub {
            padding: 15px;
            font-size: 1.2rem;
            font-weight: 500;
            border-bottom: 1px solid #eee;
        }

        .manage-clinic-body {
            margin: 25px 15px;
            padding-bottom: 55px;

            .btn-create-clinic {
                margin-bottom: 15px;
                padding: 15px 10px;
                font-size: 1rem;

            }

            .option-choose-clinic  {
                .search-clinic {
                    padding-right: 180px;
                }
            }

            .table-clinic {
                margin-top: 15px;
                margin-bottom: 15px;

                tr {
                    height: 49px;
                    padding-top: 10px;
                    padding: 10px;
                    padding-bottom: 10px;
                    /* display: flex; */
                    text-align: center;

                    th,
                    td {
                        padding: 12px;
                        line-height: 2;
                    }
                }

                .image-clinic {
                    height: 100px;
                    width: 100px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                .text-description {
                    width: 100%;
                    line-height: 1.2em;
                    height: 3.6em;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 3;
                }

                .btn-detail {
                    padding: 10px 15px;
                    background-color: #0d6efd;
                    color: #fff;
                    margin-right: 5px;

                    &:hover {
                        opacity: 0.8;
                    }
                }

                .btn-update {
                    padding: 10px 15px;
                    background-color: rgb(253, 182, 50);
                    color: #fff;

                    &:hover {
                        opacity: 0.8;
                    }
                }

            }
        }

    }

   
}