.manage-patient-container {
    background: #f4f6f9;

    .title-patient {
        padding: 20px 8px;
        font-size: 1.8rem;
        text-transform: uppercase;
        font-weight: 500;
    }



}


div._loading_overlay_wrapper {
    position: unset;

    ._loading_overlay_overlay {
        z-index: 1000000;
    }
}