.btn-edit {
  width: 50px;
  background: transparent;
  color: orange;

  &:hover {
    background-color: transparent !important;
    color: orange !important;
  }
}

.btn-delete {
  width: 50px;
  background: transparent;
  color: rgb(236, 37, 37);

  &:hover {
    background-color: transparent !important;
    color: orange !important;
  }
}

.modal-user-container {
   .modal-content {
    .modal-header {
      button {
        background-color: transparent !important;
        border: none;
        color: white;
        font-size: 27px;
      }
    }
   }

  .modal-user-body {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;

    .input-container {
      display: flex;
      flex-direction: column;
      width: 49%;

      &.max-w-input {
        width: 100%;
      }

      input {
        border-radius: 3px;
        border: 1px solid grey;
        height: 30px;
        outline: none;
        padding: 0 10px;


      }
    }
  }



}