.manage-specialty-container {
    .title-sp {
         font-size: 1.8rem;
         font-weight: 600;
         text-transform: uppercase;
         text-align: center;
         padding: 20px;
    }
    .btn-add-specialty {

    }
    .specailty-all {

    }
}